body{
    background-color: rgb(10, 11, 12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}

/*Contenedor principal*/
.container{
    display: flex;
    flex-direction: column;
    gap : 30px;
}

.sidebar{
    background-color: rgb(10, 11, 12);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background : rgb(46, 64, 168, 0.697);
    border: 1px solid rgb(27, 29, 31);
    overflow: hidden;
}

.content-header{
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    background : linear-gradient(to right, rgba(46, 64, 168, 0.697), rgba(46, 154, 168, 0.224));
    padding: 10px;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
}

.content-header h2{
    color: rgb(181, 191, 250);
    margin-bottom: 0;
}
.content-header p{
    margin-top: 7px;
    color: rgb(148, 159, 217);
}

.menu{
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: 10px;
    background-color: rgb(10, 11, 12);
    
}

.menu a{
    display: flex;
    align-items: center;
    width: auto;
    border-radius: 10px;
    background-color: rgb(10, 11, 12);
    padding: 20px;
    text-decoration: none;
    color: white;
    
    transition: 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.menu a:hover{
    transform: translate(0px, -6px);
    
}

.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#logout-btn{
    background-color: rgb(35, 19, 21);
    color: rgb(173, 81, 92);
}

.section-top-bar{
    display: flex;
    justify-content: space-between;
}

#crearPeriodo{
    background: linear-gradient(to right, rgb(46, 64, 168), rgb(44, 109, 194));
    color: white;
    border-style: none;
    text-align: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 55px;
    font-size: 18px;
    transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

#crearPeriodo:hover{
    transform: translate(0px,-3px) scale(1.008);
}


.admin-table{
    border-collapse: collapse;
    margin: 25px 0px;  
    width: 100%;
}



#divAlerta{
    border-radius: 5px;
    display: none; 
    padding: 20px;
}


#divAlerta.error{
    background-color: rgb(63, 39, 39);
    border-left: 4px solid rgb(179, 65, 65);;
    color: rgb(166, 93, 93);
}

#divAlerta.success{
    background-color: rgb(39, 63, 45);
    border-left: 4px solid rgb(65, 179, 76);;
    color: rgb(105, 176, 100);
}

#divAlerta.mostrar{
    display: block;
}


/*Estilos de el contenedor*/

#modal-delete-container{
    background-color: rgba(16, 14, 14, 0.643);
    width: 100%;
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity cubic-bezier(0.25, 0.46, 0.45, 0.94), 0.5 visibility cubic-bezier(0.25, 0.46, 0.45, 0.94);
}



#modal-delete{
    background-color: rgb(10, 11, 12);
    padding: 20px;
    display: flex;
    gap : 20px;
    flex-direction: column;
    border: 1px solid rgb(59, 41, 43);
    border-radius: 10px;
    align-items: center;
}

#modal-buttons{
    display: flex;
    justify-content: center;
    gap : 10px;
    width : 100%
}


#modal-buttons button{
    color: white;
   
    text-align: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 55px;
    width: 140px;
    font-size: 18px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.629);
    transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);   
}

#eliminar-periodo{
    background-color: rgb(42, 30, 30);
    border: 1px solid rgb(117, 59, 59);
    
}

#eliminar-periodo:hover{
    box-shadow: 0px 3px 20px rgba(117, 59, 59, 0.196);
    transform: translate(0,-3px);
}


#regresar{
    background-color: rgb(17, 19, 21);
    border : 1px solid rgb(48, 54, 60)
}

#regresar:hover{
    transform: translate(0,-3px);
}



#modal-delete-container.mostrar{
    opacity: 1;
    visibility: visible;
}


#message-red{
    color: rgb(213, 89, 89);
}

#normal-text{
    color: rgb(244, 244, 244);
}

#info{
    text-align: center;
}



#disclaimer-content{
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(63, 39, 39);
    border-left: 4px solid rgb(179, 65, 65);;
    color: rgb(166, 93, 93);
    
}

#disclaimer-content h3{
    color: rgb(220, 121, 121);
}





