body{
    background-color: rgb(10, 11, 12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container-main{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}


.login-header{
    display: flex;
    width: 80%;
    border-radius: 5px;
    background : linear-gradient(to right, rgba(46, 64, 168, 0.697), rgba(46, 154, 168, 0.224));
    padding: 10px;
    flex-direction: column;
    
}

.login-header h2{
    color: rgb(181, 191, 250);
    margin-bottom: 0;
}
.login-header p{
    margin-top: 7px;
    color: rgb(148, 159, 217);
}



.container-info{
    position: relative;
    display : flex;
    gap : 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(10, 11, 12);
    padding: 10px;
    width:  100%;
    max-width: 500px;
    height: auto;
    border: 1px solid rgb(27, 29, 31);
    overflow: hidden;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap : 4px;
    width: 80%;
}

input[type="text"],input[type="date"]{
    background-color: rgb(21, 25, 26);
    border-style: none;
    border: 2px solid rgb(46, 64, 168);
    border-radius: 5px;
    height: 50px;
    width: 100%;
    color: rgb(199, 198, 198);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    transition: 0.9s cubic-bezier(0.23, 1, 0.320, 1);
}

input[type="text"]:hover, input[type="date"]:hover{
    transform: scale(1.01);
    border: 2px solid rgb(55, 115, 213);
    box-shadow: 0px 0px 100px rgba(44, 109, 194,0.2);
}

input[type="text"]:focus-within, input[type="date"]:focus-within{
    transform: scale(1.01);
    border: 2px solid rgb(55, 115, 213);
    box-shadow: 0px 0px 250px rgba(44, 109, 194,0.3);
    color: rgb(69, 159, 215)
}

#imgContainer{
    width: 110%;
    border-radius: 100px;
    overflow: hidden;
   
    
}

img{
    object-fit: cover;
}


#submit{
    background: linear-gradient(to right, rgb(46, 64, 168), rgb(44, 109, 194));
    color: white;
    border-style: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 55%;
    height: 55px;
    font-size: 18px;
    transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* -- Animaciones del boton*/
#submit:hover{
    transform: translate(0px,-3px) scale(1.008);
}


#encabezado{
    width : 55%;
}

#encabezado h2{
    color: rgb(44, 109, 194);
}

#encabezado p{
    color: rgb(238, 238, 238);
}







a{
    color: rgb(59, 125, 211);
    text-decoration: underline;
}

a:visited,a:active{
    color: rgb(59, 125, 211);
    text-decoration: underline;
}


#divAlerta{
    border-radius: 5px;
    background-color: rgb(63, 39, 39);
    border-left: 4px solid rgb(179, 65, 65);;
    color: rgb(166, 93, 93);
    display: none; 
    padding: 20px;
}

#divAlerta.mostrar{
    display: block;
}



@media screen and (min-width : 960px){
    .input-group{
        display: flex;
        flex-direction: column;
        gap : 4px;
        width: 55%;
    }

    .login-header{
        width: 70%;

     
    }

 }