<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro_style.css">
    <title>Registrarse</title>
</head>
<body>

    <form action="/registro_usuario" method="post">
        <div id="contenedor">
            <div id="contenedor_registro">
                <h1>Registre su usuario</h1>
                <div class="campo">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" placeholder="Ingrese su nombre">

                </div>

                <label for="email">Correo</label>
                <input type="email" name="email" id="email" placeholder="Ingrese su correo">
                <input type="text" name="password" id="password" placeholder="Ingrese su contraseña">
                <input type="text" name="password" id="password" placeholder="Ingrese nuevamente">
                <button type="submit">Registrarse</button>
            </div>
        </div>
    </form>
    
</body>
</html>