<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Control de Períodos</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>
<body>

    <div class="container">
        <header class="sidebar">
            
            <div class="user-profile">
                <h3>Panel Admin</h3>
                <p class="role">Control de Ciclos</p>
            </div>
            
            <nav class="menu">
                <a href="#" class="active">Gestión de Períodos</a>
                <a href="/" id="logout-btn">Cerrar Sesión</a>
            </nav>
           

        </header>

        <main class="main-content">
            <div class="content-header">
                <h2>Administración de Períodos</h2>
                <p>Visualiza los periodes de las preinscripciones de verano existentes</p>
            </div>

            <div class="management-section">
                
                <div class="section-top-bar">
                    <h3>Historial y Estado de Períodos</h3>
                    <button class="crearPeriodo">Nuevo Periodo </button>
                </div>

                <table class="admin-table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Período</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Cierre</th>
                            <th>Estado del Sistema</th>
                            <th>Acciones Disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>2026-1</td>
                            <td>09/03/2026</td>
                            <td>10/07/2026</td>
                            <td><span class="status-pill status-open">Abierto</span></td>
                            <td>
                                <button class="btn-table btn-view">Consultar Alumnos</button>
                                <button class="btn-table btn-danger">Cerrar Período</button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2025-2</td>
                            <td>06/10/2025</td>
                            <td>14/02/2026</td>
                            <td><span class="status-pill status-closed">Cerrado / Finalizado</span></td>
                            <td>
                                <button class="btn-table btn-view">Consultar Reporte</button>
                                <button class="btn-table btn-disabled" disabled>Cerrado</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

</body>
</html>